.bbs-topic-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}
.bbs-topic-title{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bbs-topic-add-cell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bbs-topic-add-textarea {

    height: 120px;
    margin-right: 0;
    margin-left: 0;
    resize: none;
}
.bbs-topic-add-input{


    margin-right: 0;
    margin-left: 0;
    resize: none;
    margin-bottom: 10px;
}

.bbs-topic-add-bottom {
    display: flex;
    flex-direction: row;
    /*align-self: flex-start;*/
    margin-top: 10px;
    justify-content: space-between;
}