.bbs {
    font-family: 'Verdana', Georgia, 'Microsoft YaHei', '微软雅黑', STXihei, '华文细黑', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: normal;
    background-color: #e2e2e2;
    justify-content: flex-start;
}

.bbs-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    margin: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 16px, rgba(0, 0, 0, .117647) 0 1px 12px;
    justify-content: center;
}

.bbs-top-container {
    display: flex;
    flex-direction: row;
    width: 1020px;
    height: 100%;
    margin-right: 25px;
    margin-left: 25px;
    justify-content: space-between;
    align-items: center;
}

.bbs-top-logo,
.bbs-top-menu {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
}

.bbs-top-logo {
    font-size: 26px;
    font-weight: 900;
    color: black !important;
    height: 30px;
    width: 90px;
}

.bbs-box {
    margin: 20px;
    margin-right: 10px;
    margin-left: 10px;
    /*padding: 16px;*/
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
}

.bbs-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex: 1;*/
}

.bbs-body-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 30px;
    justify-content: center;
}

.bbs-content {
    flex: 1;
    min-width: 500px;
}

.bbs-footer {
    display: flex;
    flex-direction: row;
    height: 45px;
    /*使得 footer 总是在最下面*/
    margin-top: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 16px, rgba(0, 0, 0, .117647) 0 1px 12px;
    justify-content: center;
}

.bbs-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bbs-cell {
    padding: 10px 0;
    padding: 10px;
}

.bbs-cell+.bbs-cell {
    border-top-width: 1px;
    border-top-style: solid;
    /*background-color: lightblue;*/
    border-top-color: lightgray;
}

.bbs-top-item + .bbs-top-item {
    margin-left: 10px;
}

.bbs-top-item:link,
.bbs-top-item:visited {
    color: #555;
    text-decoration:none;
}

.bbs-top-item:hover,
.bbs-top-item:active {
    color: #99a;
    text-decoration:none;
}

.hidden {
    display: none;
}

img,
.avatar {
    width: 48px;
    height: 48px;
}
.avatar-big {
    width: 73px;
    height: 73px;
}

a:link,
a:visited{
    color: #808080;
    text-decoration: none;
}
a:hover,
a:active{
    color: #505050;
    text-decoration: underline;
}

.bbs-search{
    /*background-color: white;*/
    background-image: url('/static/img/searchicon.png');
    background-position: 8px 4px;
    background-repeat: no-repeat;
    padding: 0px;
    padding-left: 32px !important;
    border: 1.5px solid #d5d5d5;
    height: 25px;
    margin: 0px 0px 0px 20px  !important;
}
