<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bbs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    {% block css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/static/js/bbs.js"></script>
    {% block js %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>
<body class="bbs">
<div class="bbs-top">
    <div class="bbs-top-container">
        <span class="bbs-top-left-container">
            <a class="bbs-top-logo" href="/">V233</a>
            <form class="pure-form">
                <input type="text" class="pure-input-rounded bbs-search">
            </form>
        </span>
        <div class="bbs-top-menu">
        {% if user != None %}
            <a class="bbs-top-item" href="/">首页</a>
            <a class="bbs-top-item" href="/user/{{ user.id }}">{{ user.username }}</a>
            <a class="bbs-top-item" href="/user/logout">登出</a>
        {% else %}
            <a class="bbs-top-item" href="/node">节点</a>
            <a class="bbs-top-item" href="/user/login">登录</a>
            <a class="bbs-top-item" href="/user">注册</a>
        {% endif %}
        </div>
    </div>
</div>
<div class="bbs-body">
    <div class="bbs-body-container">
        <div class="bbs-content">
        {% block content %}{% endblock %}
        </div>
        <div class="bbs-sidebar">
            <div class="bbs-box">
            {% if user == None %}
                <div class="bbs-cell">
                    <b>V2EX = way to explore</b>
                    <br>
                    <span>V2EX 是一个关于分享和探索的地方</span>
                </div>
                <div class="bbs-cell bbs-sidebar-login">
                    <button class="pure-button">现在注册</button>
                    <br>
                    <span>已注册用户请&nbsp;&nbsp;<a>登录</a></span>
                </div>
            {% else %}
                <div class="bbs-cell bbs-sidebar-user">
                    <img src="{{ user.avatar }}">
                    <div class="bbs-sidebar-cell-username">
                        <a href="/user/{{ user.id }}">{{ user.username }}</a>
                    </div>
                </div>
                <div class="bbs-cell bbs-sidebar-favorite">
                    <div class="bbs-sidebar-favorite-item">
                        <span class="bbs-sidebar-favorite-item-num">0</span>
                        <span>节点收藏</span>
                    </div>
                    <div class="bbs-sidebar-favorite-item">
                        <span class="bbs-sidebar-favorite-item-num">0</span>
                        <span>主题收藏</span>
                    </div>
                    <div class="bbs-sidebar-favorite-item">
                        <span class="bbs-sidebar-favorite-item-num">0</span>
                        <span>特别关注</span>
                    </div>
                </div>
                <div class="bbs-cell bbs-sidebar-write">
                    <img class="bbs-sidebar-write-img" src="https://www.v2ex.com/static/img/flat_compose.png">
                    <a>创作新主题</a>
                </div>
                <div class="bbs-cell bbs-sidebar-notification">
                    <a>0 条未读提醒</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="bbs-footer">
    <div class="bbs-footer-container">
        copyright
    </div>
</div>
</body>
</html>
