<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bbs.css') }}">
    {% block css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/static/js/bbs.js"></script>
    {% block js %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>
<body class="bbs">
<div class="bbs-top">
    <div class="bbs-top-container">
        <div class="bbs-top-logo">
            <a class="bbs-top-item" href="/">V233</a>
        </div>
        <div class="bbs-top-menu">
        {% if user == None %}
            <a class="bbs-top-item" href="/node">节点</a>
            <a class="bbs-top-item" href="/user">登录</a>
            <a class="bbs-top-item" href="/user">注册</a>
        {% else %}
            <a class="bbs-top-item" href="/">首页</a>
            <a class="bbs-top-item" href="/user/{{ user.id }}">{{ user.username }}</a>
            <a class="bbs-top-item" href="/signout">登出</a>
            <!-- todo: faire la page pour signout-->
        {% endif %}
        </div>
    </div>
</div>
<div class="bbs-body">
    <div class="bbs-body-container">
        <div class="bbs-content">
            {% block content %}{% endblock %}
        </div>
        <div class="bbs-sidebar">
            <div class="bbs-box">
                <div class="bbs-cell">
                {% if user == None %}
                    未登录
                {% else %}
                    已经登录
                    <br>
                    用户名：{{ user.username }}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bbs-footer">
    <div class="bbs-footer-container">
        copyright
    </div>
</div>
</body>
</html>
