{% extends "base.html" %}

{% block title %}
    V233
{% endblock %}

{% block content %}


    <div class="bbs-box">
        <div class="bbs-cell">
            所有主题：
        </div>
        {% for topic in topic_list %}
        <div class="bbs-cell">
            <a href="/topic/{{ topic.id }}">{{ topic.title }}</a>
            <span>{{ topic.comments|length }}</span>
        </div>
        {% endfor %}
    </div>


    <div class="bbs-box">
        <div class="bbs-cell light-gray small">
            <b>V233</b> / 节点导航
        </div>
        <div class="bbs-cell dark-gray">
        {% for node in node_list %}
            <a href="/node/{{ node.id }}">{{ node.name }}</a>&nbsp&nbsp
        {% endfor %}
        </div>
    </div>

{% endblock %}