{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bbs-comment.css">
    <link rel="stylesheet" href="/static/css/bbs-topic.css">
{% endblock %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block content %}

    <div class="bbs-box">
        <div class="bbs-topic-card bbs-cell">
            <div>
                <a class="dark-gray" href="/">V233</a></span>&nbsp;&nbsp;›&nbsp;&nbsp;{{ node.name }}
                <div class="bbs-topic-card-title">{{ topic.title }}</div>
                <a href="/user/{{ author.id }}">{{ author.username }}</a>
            </div>
            <img class="avatar-big" src="{{ author.avatar }}">
        </div>
        <div class="bbs-cell">
            {{ topic.content|markdown }}
        </div>
    </div>

    <div class="bbs-comment-list bbs-box">
    {% for c in topic.comments %}
        <div class="bbs-comment-item bbs-cell">

            <div class="bbs-comment-item-left">
                <img class="avatar" src={{ User.query.filter_by(id=c.user_id ).first().avatar }}></img>
                <!--<img src="/static/img/avatar-default.jpg"></img>-->
            </div>

            <div class="bbs-comment-item-right">
                <div class="bbs-comment-item-right-up">
                    <a>{{ User.query.filter_by(id=c.user_id ).first().username }}</a>
                    {% if user.id == c.user_id %}
                    <a class="bbs-comment-menu hidden" href="{{ url_for('comment.delete', id=c.id) }}">delete</a>
                    {% endif %}
                </div>
                <div class="bbs-comment-item-right-bottom">
                    <div>{{ c.content|markdown }}</div>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    {% if user != None %}
    <div class="bbs-comment bbs-box">
        <div class="bbs-cell">
            添加一条新的回复 {{ user.username }}
        </div>
        <form class="bbs-comment-add-cell bbs-cell pure-form" action="{{ url_for('comment.add') }}" method="post">
            <input type="hidden" name="topic_id" value="{{ topic.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <textarea class="bbs-comment-add-textarea" type="text" name="content" placeholder="支持 markdown 语法"></textarea>
            <div class="bbs-comment-add-bottom">
                <button class="bbs-comment-add-button pure-button">Post comment</button>
                <span class="bbs-comment-add-word">请尽量让自己的回复能够对别人有帮助</span>
            </div>
        </form>
    </div>
    {% else %}
    <div class="bbs-box">
        <div class="bbs-cell">
            <a href="/user/login">登录</a> 以回复
        </div>
    </div>
    {% endif %}

{% endblock %}