{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bbs-user.css">
{% endblock %}

{% block title %}
    登录
{% endblock %}

{% block content %}
    <div class="bbs-box">
        <div class="bbs-cell">
            <a class="dark-gray" href="/">V233</a></span>&nbsp;&nbsp;›&nbsp;&nbsp;登录
        </div>
        <div class="bbs-cell">
            <form class="pure-form bbs-login-line" action="{{ url_for('.verification_login') }}" method="post">
                <div class="bbs-login-line">
                    <span class="bbs-login-left small">用户名</span>
                    <input type="text" name="username" class="bbs-login-input pure-input">
                </div>

                <div class="bbs-login-line">
                    <span class="bbs-login-left small">密码</span>
                    <input type="text" name="password" class="bbs-login-input pure-input">
                </div>

                <div class="bbs-login-line">
                    <span class="bbs-login-left small"></span>
                    <button class="pure-button">login</button>
                </div>

                <div class="bbs-login-line">
                    <span class="bbs-login-left small"></span>
                    <a class="small light-gray">我忘记密码了（施工中）</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}